.bg-header {
    background-color: #88c994 ;
  }
.bg-footer {
      background-color: #6C757C;
    }
.boton-verde{
    background-color: #27A844;
    border: none;
    width: 100%;
    color: white;
}
.textof{
    color: white !important;
}
.bg-iniciasesion {
    background-color: #f7f7f7 !important;
}
.bg-fondoverde {
    background-color:#E5FAE9!important;
}
    